/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color:  rgb(85,83,85);
}

body {
    background: #ececec;
    height: 100%;
    overflow-y: hidden;
}

.container {
    display: flex;
}

.main{
    width: calc(100vw - 280px);
}

/* nav-bar */
nav {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #fff;
    border-right: 2px solid #D0D0D0;
    width: 280px;
    overflow: hidden;

}

.logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;

}

.logo span{
    font: bold;
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 700;
}

a {
    position:relative;
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
    font-weight: 500;
}

nav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
.selected{
    border-right: rgb(85,83,85) solid 4px;
}

.nav-list:hover{
    background: #eee;
}
/* Nav End */

/* Dashboard */
.main-left{
    position: relative;
    top: 48px;
    bottom: 48px;
    left: 48px;
    height: calc(100vh - 96px);
    width: calc((100vw - 392px) / 3);
    background: #fff;
    border-radius: 20px;
    padding: 32px;
}

.dash-heading{
    text-align: center;
    font-size: 40px;
    color: rgb(85,83,85);
}

.tbl-dash{
    width: calc((100vw - 392px) / 3 - 64px);
    height: calc((100vh - 96px) / 2 - 145px);
    table-layout: fixed;
    text-align:center;
    padding: 16px;
}

td a{
    text-align: left;
}

.view-more{
    height: 75px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #ff5c5c;
    color: #ff5c5c;
    background-color: white;
    cursor: pointer;
}

.main-left .view-more{
    margin-top:16px;
    margin-left: calc(((100vw - 392px) / 3 - 64px) / 2 - 100px);
}   

.view-more:hover{
    color: #FFFFFF;
    background-color: #ff5c5c;
}

.button-text{
    font-weight: 500;
}

.main-left .button-text{
    margin-top:16px;
    text-align: center;
}


.main-right{
    position: relative;
    top: 48px;
    bottom: 48px;
    left: 64px;
    width: calc((100vw - 392px) / 3 * 2 );
}

.row{
    background: white;
    height: calc((100vh - 128px) / 3);
    border-radius: 20px;  
    margin-bottom: 16px;
    padding: 16px;
}

.row h1{
    text-align: left;
    padding-left: 16px;
    width: calc((100vw - 392px) / 3 * 2 );
}

.row h2{
    text-align: left;
    padding-left: 16px;
    font-weight: 500;
    font-size: 24px;
    width: calc((100vw - 392px) / 3 * 2 );
}

.float-container{
    padding: 0px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.float-child-left{
    width: 66%;
    float: left;
    padding: 20px;
}

.float-child-right{
    width: 33%;
    float: left;
    padding: 16px;
    text-align: center;
}

.float-child-right .view-more{
    margin-left: 16px;
    margin-top: 16px;
}

.float-child{
    width: 50%;
    float: left;
    padding: 16px;
}

.float-child p{
    text-align: center;
}

.row p{
    margin-left: 16px;
}

.team-name{
    font-size: 20px;
    font-weight: 500;
}

.score{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

}

.age-group{
    font-size: 16px;
    font-weight: 400;
} 
/* Dashbooard End */

/* Players */
.players-tabs{
    overflow:hidden;
    background-color: #FFFFFF;
    height: 90px;
    width: calc(100vw - 280px);
    border-bottom:#D0D0D0 solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.players-tabs button{
    float: left;
    outline: none;
    cursor: pointer;

    margin-left: 8px;
    margin-right: 8px;

    background-color: #fff;

    font-size: 24px;
    padding: 28px;
}



.players-tabs button:hover{
    font-weight: bold;
    background: #eee;
}

.players-tabs button.active{
    color:#ff5c5c;
    border-top:#ff5c5c solid 3px;
    font-weight: bold;
}

.tab-content-players {
    display: none;
    overflow:hidden;
    overflow-y: scroll;
    height: 675px;
    padding-bottom: 32px;
}

.filters{
    height: 140px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters button{
    height: 75px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid #ff5c5c;
    color: #ff5c5c;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    font-weight: 500;
}

.filters i{
    color: #ff5c5c;
    padding: 10px;  
}

.filters .order{
    height: 75px;
    width: 150px;
    background-color: #ff5c5c;
    color: white;
}

.filters .order i{
    color: white;
}

.filters input{
    background-color: #eee;
    border: rgb(85,83,85) solid 2px;
    height: 75px;
    width: 750px;
    padding: 16px;
    font-size: 20px;
    margin: 10px;
}


.stats-table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
    overflow-y: scroll;
    overflow-x: scroll;
    text-align: center;
}

.stats-table td, .stats-table th{
    border-left:#D0D0D0 solid 1px;
    border-right:#D0D0D0 solid 1px;
}

.stats-table tr{
    height: 28px;
}

.stats-table tr:nth-child(odd){
    background-color: #fff;
}
.stats-table tr:nth-child(even){
    background-color: #eee;
}

.stats-table td:first-child{
    text-align: left;
    padding-left: 16px;
    width: 25%;
}

.stats-table th{
    background-color: #ff5c5c;
    color: #fff;
}

/*Player Profile*/
.tab-content{
    display: none;
    overflow:hidden;
    overflow-y: scroll;
    padding-bottom: 32px;
}

.profile-header{
    height: 150px;
    width: calc(100% - 128px);
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 48px;
    background-color: #fff;
    padding: 32px;
    text-align: center;
    border-radius: 20px;
}

.profile-header button{
    background-color: #fff;
    cursor: pointer;
    float: left;
    height: 40px;
    font-size: 24px;
}

.profile-header h1{
    font-size: 40px;
}

.profile-header h2{
    font-weight: 500;
    font-size: 24px;
}

.tabs{
    overflow:hidden;
    height: 90px;
    width: calc(100vw - 280px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.tabs button{
    background-color: #ececec;
    float: left;
    outline: none;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 24px;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
}


.tabs button:hover{
    font-weight: bold;
    background: #eee;
}

.tabs button.active{
    color:#ff5c5c;
    border-bottom:#ff5c5c solid 3px;
    font-weight: bold;
}

